input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.currency-selection {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .currency-exchange {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .exchange-rate-desc {
    margin-right: 0;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) {
  .currency-selection {
    width: fit-content;
  }
}
