<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Latest Cryptocurrency News</h1>
      <div class="box" *ngFor="let articles of news">
        <div class="columns">
          <div class="column is-5">
            <figure class="image">
              <img [src]="articles.image_url" alt="Placeholder image" />
            </figure>
          </div>
          <div class="column">
            <div class="content">
              <h2 class="title">{{ articles.title }}</h2>
              <h4 class="subtitle">{{ articles.source }}</h4>
              <p>{{ articles.description }}</p>
              <br />
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-brands fa-readme"></i>
                </span>
                <a [href]="articles.url" target="_blank">Read more</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
