<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="Cryptocurrency Logo" />
    </a>
    <span class="example-spacer"></span>
    <a class="nav-link" routerLink="/home" routerLinkActive="active"> Home </a>
    <a class="nav-link" routerLink="/about" routerLinkActive="active">
      About
    </a>
    <a class="nav-link" routerLink="/currency-list" routerLinkActive="active">
      Currency List
    </a>
    <span class="example-spacer"></span>
    <div class="button-container">
      <button mat-button color="accent">
        <strong>Sign up</strong>
      </button>
      <button mat-button color="primary">Log in</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
