<mat-sidenav-container class="sidenav-container">
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>angular-app</span>
  </mat-toolbar>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#news">
        <span class="nav-item">
          <ng-icon name="bootstrapNewspaper" size="20px"></ng-icon>
          <span class="nav-text sidenav-text"> News</span>
        </span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#exchange">
        <span class="nav-item">
          <ng-icon name="bootstrapCurrencyExchange" size="20px"></ng-icon>
          <span class="nav-text sidenav-text"> Exchange Rates</span>
        </span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">
        <span class="nav-item">
          <ng-icon name="bootstrapGraphUp" size="20px"></ng-icon>
          <span class="nav-text sidenav-text"> Historical Data</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-flat-button color="primary" onclick="location.href = ''">
        <span class="nav-item">
          <span class="brand-text">CryptoExplorer</span>
          <ng-icon name="bootstrapSearch" size="22px"></ng-icon>
        </span>
      </button>
      <span class="toolbar-spacer"></span>
      <button
        mat-flat-button
        color="primary"
        onclick="location.href = 'https://github.com/lavanv1107/angular-app'"
      >
        <span class="nav-item">
          <ng-icon name="bootstrapGithub" size="24px"></ng-icon>
          <span class="nav-text toolbar-text is-hidden-mobile"> GitHub </span>
        </span>
      </button>
    </mat-toolbar>
    <section class="hero is-medium nav-hero">
      <div class="hero-body has-text-centered">
        <h1 class="mat-headline-2 is-hidden-mobile">
          Welcome to CryptoExplorer!
        </h1>
        <h2 class="mat-headline-3 is-hidden-desktop">
          Welcome to CryptoExplorer!
        </h2>
      </div>
    </section>
    <app-news id="news"></app-news>
    <app-currency-index id="exchange"></app-currency-index>
  </mat-sidenav-content>
</mat-sidenav-container>
