<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1>News</h1>
      <h3>The Latest Headlines in Cryptocurrency from MarketAux</h3>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half" [@cardAnimation]>
        <div class="block" *ngFor="let article of news">
          <!-- *ngFor="let article of news[1].slice(0, 3)" -->
          <mat-card>
            <img mat-card-image [src]="article.image_url" />
            <div class="block">
              <mat-card-header>
                <mat-chip-listbox>
                  <mat-chip *ngFor="let entities of article.entities">{{
                    entities.name
                  }}</mat-chip>
                </mat-chip-listbox>
              </mat-card-header>
              <mat-card-header>
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-subtitle>{{ article.source }}</mat-card-subtitle>
              </mat-card-header>
            </div>
            <div class="block">
              <mat-card-content>
                <p class="mat-caption">
                  {{
                    article.published_at
                      | date : "EEE, MMM d, y 'at' h:mm a zzz"
                  }}
                </p>
                <p>
                  {{ article.description | sentenceLimit }}
                </p>
                <a
                  class="mat-subtitle-2"
                  href="{{ article.url }}"
                  target="_blank"
                >
                  Read More »
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions class="article-actions">
              <button mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="openSnackBar('Bookmark Saved', 'OK')"
              >
                <mat-icon>bookmark_border</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>share</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>
